# Make Python more prominent
*.py linguist-detectable=true
*.py linguist-language=Python

# Reduce JavaScript weight
*.js linguist-language=Python
*.jsx linguist-detectable=true
*.ts linguist-vendored
*.tsx linguist-vendored

# Hide build and config files
node_modules/* linguist-vendored
build/* linguist-vendored
dist/* linguist-vendored
*.json linguist-vendored
*.lock linguist-vendored

# Hide style files
*.css linguist-vendored
*.scss linguist-vendored
*.html linguist-vendored

# Documentation
*.md linguist-documentation
requirements.txt linguist-documentation
